# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env

# Virtual env
venv/
env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml